<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.ElectiveScoreRecordMapper">

    <!-- 分页获取选修课分数记录信息 -->
    <select id="queryScoreRecord" resultType="java.util.LinkedHashMap">
        select
        esr.id,
        esr.student_id,
        esr.course_id,
        esr.elective_id,
        esr.score,
        stui.name as studentName,
        stui.images as studentImages,
        sei.course_date,
        sei.start_time,
        sei.end_time,
        ci.name as courseName,
        ci.address,
        si.name as staffName,
        si.images as staffImages,
        ti.name as tieName,
        mi.name as majorName
        from
        elective_score_record esr
        left join student_info stui on
        (stui.id = esr.student_id)
        left join schedule_elective_info sei on
        (sei.id = esr.elective_id)
        left join course_info ci on
        (ci.id = esr.course_id)
        left join staff_info si on
        (si.id = ci.staff_id)
        left join tie_info ti on
        (ti.id = ci.tie_id)
        left join major_info mi on
        (mi.id = ci.major_id)
        where
        1 = 1
        <if test="electiveScoreRecord.studentName != null and electiveScoreRecord.studentName != ''">
            AND stui.name LIKE CONCAT('%',#{electiveScoreRecord.studentName},'%')
        </if>
        <if test="electiveScoreRecord.courseName != null and electiveScoreRecord.courseName != ''">
            AND ci.name LIKE CONCAT('%',#{electiveScoreRecord.courseName},'%')
        </if>
        <if test="electiveScoreRecord.majorName != null and electiveScoreRecord.majorName != ''">
            AND mi.name LIKE CONCAT('%',#{electiveScoreRecord.majorName},'%')
        </if>
        order by
        sei.course_date desc
    </select>

    <!-- 查询选修课分数记录信息 -->
    <select id="queryElectiveScoreRecord" resultType="java.util.LinkedHashMap">
        select
        esr.id,
        esr.student_id,
        esr.course_id,
        esr.elective_id,
        esr.score,
        stui.name as studentName,
        stui.images as studentImages,
        sei.course_date,
        sei.start_time,
        sei.end_time,
        ci.name as courseName,
        ci.address,
        si.name as staffName,
        si.images as staffImages,
        ti.name as tieName,
        mi.name as majorName
        from
        elective_score_record esr
        left join student_info stui on
        (stui.id = esr.student_id)
        left join schedule_elective_info sei on
        (sei.id = esr.elective_id)
        left join course_info ci on
        (ci.id = esr.course_id)
        left join staff_info si on
        (si.id = ci.staff_id)
        left join tie_info ti on
        (ti.id = ci.tie_id)
        left join major_info mi on
        (mi.id = ci.major_id)
        where
        1 = 1
        <if test="electiveId != null and electiveId != ''">
            AND esr.elective_id = #{electiveId}
        </if>
        order by
        sei.course_date desc
    </select>
</mapper>
