<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.FileInfoMapper">

    <!-- 分页获取共享文件 -->
    <select id="queryFilePage" resultType="java.util.LinkedHashMap">
        select
        ci.id,
       	ci.code,
       	ci.name,
       	ci.content,
       	ci.status,
       	ci.images,
       	ci.create_by,
       	ci.create_date,
       	ci.file_key,
        ei.name as enterpriseName,
        ei.images as enterpriseImages
        from
        file_info ci
        left join enterprise_info ei on (ei.id = ci.enterprise_id)
        where 1 = 1
        <if test="fileInfo.name != null and fileInfo.name != ''">
            AND ci.name LIKE CONCAT('%',#{fileInfo.name},'%')
        </if>
        <if test="fileInfo.status != null">
            AND ci.status = #{fileInfo.status}
        </if>
        <if test="fileInfo.enterpriseId != null and fileInfo.enterpriseId != ''">
            AND ei.user_id = #{fileInfo.enterpriseId}
        </if>
        order by ci.create_date desc
    </select>
</mapper>
