<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.LeaveCommentsMapper">

    <!-- 分页获取留言信息 -->
    <select id="selectCommentPage" resultType="java.util.LinkedHashMap">
        select
        lc.id,
        lc.user_id,
        lc.content,
        lc.images,
        lc.status,
        lc.create_date,
        lc.del_flag,
        stui.name as studentName,
        stui.images as studentImages,
        ti.name as tieName,
        mi.name as majorName
        from
        leave_comments lc
        left join student_info stui on (stui.id = lc.user_id)
        left join major_info mi on
        (mi.id = stui.major_id)
        left join tie_info ti on
        (ti.id = mi.tie_id)
        left join class_info ci on (ci.id = stui.class_id)
        left join staff_info si on (si.id = ci.teacher_id)
        where 1 = 1
        <if test="leaveComments.staffName != null and leaveComments.staffName != ''">
            AND stui.name LIKE CONCAT('%',#{leaveComments.staffName},'%')
        </if>
        <if test="leaveComments.status != null and leaveComments.status != ''">
            AND lc.status = #{leaveComments.status}
        </if>
        <if test="leaveComments.userId != null and leaveComments.userId != ''">
            AND stui.user_id = #{leaveComments.userId}
        </if>
        <if test="leaveComments.staffId != null and leaveComments.staffId != ''">
            AND si.user_id = #{leaveComments.staffId}
        </if>
        order by lc.create_date desc
    </select>
</mapper>
