<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.ScheduleTemplateInfoMapper">

    <!-- 分页获取课表模板信息 -->
    <select id="queryTemplatePage" resultType="java.util.LinkedHashMap">
        select
        sti.id,
        sti.code,
        sti.start_time,
        sti.end_time,
        sti.class_id,
        sti.course_id,
        sti.type_day,
        sti.create_date,
        cai.name as className,
        ci.name as courseName,
        ci.address,
        si.name as staffName,
        si.images as staffImages,
        ti.name as tieName,
        mi.name as majorName
        from
        schedule_template_info sti
        left join class_info cai on (cai.id = sti.class_id)
        left join course_info ci on
        (ci.id = sti.course_id)
        left join left join staff_info si on
        (si.id = ci.staff_id)
        left join tie_info ti on
        (ti.id = ci.tie_id)
        left join major_info mi on
        (mi.id = ci.major_id)
        where 1 = 1
        <if test="scheduleTemplateInfo.className != null and scheduleTemplateInfo.className != ''">
            AND cai.name LIKE CONCAT('%',#{scheduleTemplateInfo.className},'%')
        </if>
        <if test="scheduleTemplateInfo.courseName != null and scheduleTemplateInfo.courseName != ''">
            AND ci.name LIKE CONCAT('%',#{scheduleTemplateInfo.courseName},'%')
        </if>
        <if test="scheduleTemplateInfo.majorName != null and scheduleTemplateInfo.majorName != ''">
            AND mi.name LIKE CONCAT('%',#{scheduleTemplateInfo.majorName},'%')
        </if>
        <if test="scheduleTemplateInfo.staffName != null and scheduleTemplateInfo.staffName != ''">
            AND si.name LIKE CONCAT('%',#{scheduleTemplateInfo.staffName},'%')
        </if>
        order by sti.create_date desc
    </select>
</mapper>
